.SearchBar {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 4.94rem;
    margin-bottom: 3.33rem;

}

.SearchButton {
    margin-top: 20px;
    width: 6rem;
    height: 2rem;
}

.SearchButton:active {
    color: green;
}

.SearchButton:hover {
    background-color: rgba(108, 65, 233, .7);
}

.SearchBar input {
    width: 287px;
    text-align: center;
    font-size: 1rem;
    padding: .88rem 0;
    border: 1px solid #fff;
    border-radius: 3px;
    margin-bottom: 2.22rem;
}